<div class="container-header">
    <mat-toolbar class="container-header-toolbar">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
        <div>
            <button mat-icon-button class="example-icon favorite-icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon">
                <mat-icon>share</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>