<div class="container-header">
    <mat-toolbar class="container-header-toolbar">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>FILMES</span>
        <div>
            <button (click)="share()" mat-icon-button class="example-icon favorite-icon">
                <mat-icon>share</mat-icon>
            </button>
            <button routerLink="/pesquisar" mat-icon-button class="example-icon">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>