.app-content {
    height: 100%;
    min-height: 100vh;
    padding-top: 68px;
}

.sidenav {
    min-width: 300px;
    padding: 15px;
}

@media (max-width: 320px) {
    .sidenav {
        width: 75%;
    }
}