<section *ngIf="filme !== undefined">
    <div style="background-image: url('https://image.tmdb.org/t/p/original{{filme.backdrop_path}}');" class="header">
        <div class="header-grid">
            <div style="background-image: url('https://image.tmdb.org/t/p/w500{{filme.poster_path}}');"
                class="header-grid-imgSingle">
                <p class="inside-poster-information inside-information-movie-single">{{filme.vote_average}}
                    <mat-icon matListItemIcon>star</mat-icon>
                </p>
            </div>
        </div>
        <div class="header-chips">
            <mat-chip-listbox>
                <mat-chip-option *ngFor="let generos of filme.genres" class="header-chips-single"
                    routerLink="/genero/{{generos.id}}" selectable={{false}}>
                    {{generos.name}}
                </mat-chip-option>
            </mat-chip-listbox>
        </div>
    </div>

    <div class="container-to-show-infos body">

        <div class="chips-mobile">
            <mat-chip-listbox>
                <mat-chip-option *ngFor="let generos of filme.genres" class="chips-mobile-single"
                    routerLink="/genero/{{generos.id}}" selectable={{false}}>
                    {{generos.name}}
                </mat-chip-option>
            </mat-chip-listbox>
        </div>

        <div class="flex-between first-content">
            <div class="box-container w50">
                <h2 class="title-filme">{{filme.title}}</h2>
            </div>
            <div *ngIf="filme.overview !== null" class="box-container w50 first-content-sinopse">
                <h2>Sino<span class="default-color">pse</span></h2>
                <p>{{filme.overview}}</p>
            </div>
        </div>

        <br>

        <div class="flex-between">
            <div *ngIf="providers !== undefined" class="box-container w50">
                <h2>Onde <span class="default-color">Assistir</span></h2>

                <div *ngIf="providers.buy !== undefined" class="body-content-providers">
                    <h2>Comprar</h2>
                    <div class="body-content-providers-for">
                        <div *ngFor="let val of providers.buy"
                            style="background-image: url('https://image.tmdb.org/t/p/w200{{val.logo_path}}');"
                            class="body-content-providers-for-single"></div>
                    </div>
                </div>

                <div *ngIf="providers.flatrate !== undefined" class="body-content-providers">
                    <h2>Stream</h2>
                    <div class="body-content-providers-for">
                        <div *ngFor="let val of providers.flatrate"
                            style="background-image: url('https://image.tmdb.org/t/p/w200{{val.logo_path}}');"
                            class="body-content-providers-for-single"></div>
                    </div>
                </div>

                <div *ngIf="providers.rent !== undefined" class="body-content-providers">
                    <h2>Alugar</h2>
                    <div class="body-content-providers-for">
                        <div *ngFor="let val of providers.rent"
                            style="background-image: url('https://image.tmdb.org/t/p/w200{{val.logo_path}}');"
                            class="body-content-providers-for-single"></div>
                    </div>
                </div>
            </div>
            <br>

            <div [class.w100]="providers === undefined" [class.w50]="providers !== undefined"
                class="box-container informacoes w50">
                <h2>Principais Informa<span class="default-color">ções</span></h2>

                <ul>
                    <div>
                        <li><b>Situação:</b> </li>
                        <li>{{filme.status}}</li>
                        <br>
                    </div>
                    <div>
                        <li><b>Data do Lançamento:</b></li>
                        <li>{{filme.release_date | date:'dd/MM/YYYY'}}</li>
                        <br>
                    </div>
                    <div>
                        <li><b>Titulo Original:</b></li>
                        <li>{{filme.original_title}}</li>
                        <br>
                    </div>
                    <div *ngIf="filme.budget > 0">
                        <li><b>Orçamento:</b> </li>
                        <li>{{filme.budget | currency}}</li>
                        <br>
                    </div>
                    <div *ngIf="filme.revenue > 0">
                        <li><b>Receita:</b> </li>
                        <li>{{filme.revenue| currency}}</li>
                        <br>
                    </div>
                    <div>
                        <li><b>Populariade: </b> </li>
                        <li>{{filme.popularity}}</li>
                        <br>
                    </div>
                    <div>
                        <li><b>Avaliado: </b> </li>
                        <li>{{filme.vote_count}} vezes</li>
                        <br>
                    </div>
                    <div>
                        <li><b>Lingua Original:</b> </li>
                        <li>{{filme.original_language | uppercase}}</li>
                        <br>
                    </div>
                    <div>
                        <li><b>Filme Adulto:</b> </li>
                        <li>{{filme.adult?'Sim':'Não'}}</li>
                        <br>
                    </div>

                    <li *ngIf="filme.homepage !== null && filme.homepage !== ''"><a class="anchor" target="_blank"
                            [href]="filme.homepage">Website</a></li>
                </ul>
            </div>
        </div>

        <br>

        <div class="flex-between" style="align-items: flex-start">
            <div class="flex-column w50">
                <div class="box-container w100">
                    <h2>Produzido <span class="default-color">Em</span></h2>

                    <div *ngFor="let val of filme.production_countries">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title-group>
                                    <mat-card-title>{{val.name}}</mat-card-title>
                                    <mat-card-subtitle *ngIf="val.iso_3166_1 !== ''">Localização: {{val.iso_3166_1 |
                                        uppercase}}</mat-card-subtitle>
                                </mat-card-title-group>
                            </mat-card-header>
                            <br>

                        </mat-card>
                        <br>
                    </div>
                </div>
                <br>
                <div class="box-container w100">
                    <h2>Linguas <span class="default-color">Faladas</span></h2>

                    <div *ngFor="let val of filme.spoken_languages">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title-group>
                                    <mat-card-title>{{val.name}}</mat-card-title>
                                    <mat-card-subtitle *ngIf="val.iso_639_1 !== ''"> {{val.english_name}} -
                                        {{val.iso_639_1 |
                                        uppercase}}
                                    </mat-card-subtitle>
                                </mat-card-title-group>
                            </mat-card-header>
                            <br>

                        </mat-card>
                        <br>
                    </div>
                </div>
            </div>

            <br>

            <div *ngIf="filme.overview !== null" class="box-container w50 ">
                <h2>Produzido <span class="default-color">Por</span></h2>

                <div *ngFor="let val of filme.production_companies">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title>{{val.name}}</mat-card-title>
                                <mat-card-subtitle *ngIf="val.origin_country !== ''">Localização: {{val.origin_country |
                                    uppercase}}</mat-card-subtitle>
                                <div *ngIf="val.logo_path !== null" class="img-companie"
                                    style="background-image: url('https://image.tmdb.org/t/p/w500/{{val.logo_path}}');">
                                </div>
                            </mat-card-title-group>
                        </mat-card-header>
                        <br>
                    </mat-card>
                    <br>
                </div>

            </div>
        </div>

        <br>
        <div class="flex-between">
            <mat-accordion class="w100">
                <mat-expansion-panel class="black-default" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header class="body-comentarios">
                        <mat-panel-title>
                            Comentários
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title-group>

                                <mat-card-title>
                                    a
                                </mat-card-title>
                                <mat-card-subtitle>
                                    Publicado:
                                    <br>
                                </mat-card-subtitle>
                                <div class="img-companie img-companie-2"
                                    style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                                </div>

                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>

                        </mat-card-content>
                        <br>
                    </mat-card>



                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <br>

        <div *ngIf="videos!== undefined" class="flex-between">
            <div *ngIf="videos.length > 0" class="box-container w100 ">
                <h2>Alguns<span class="default-color"> Videos</span></h2>

                <div *ngFor="let val of videos">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title-group>

                                <mat-card-title>
                                    {{val.name}}
                                </mat-card-title>
                                <mat-card-subtitle>
                                    Publicado: {{val.published_at | date:'dd/MM/YYYY'}}
                                    <br>
                                    <a class="title-with-link" *ngIf="val.site === 'YouTube'" target="_blank"
                                        href="https://www.youtube.com/watch?v={{val.key}}">
                                        Assistir
                                    </a>
                                </mat-card-subtitle>
                                <div class="img-companie img-companie-2"
                                    style="background-image: url('https://img.youtube.com/vi/{{val.key}}/sddefault.jpg');">
                                </div>

                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-chip-listbox>
                                <mat-chip-option selectable={{false}}>{{val.iso_639_1 + '-' + val.iso_3166_1 |
                                    uppercase}}</mat-chip-option>
                                <mat-chip-option selectable={{false}}>{{val.site}}</mat-chip-option>
                                <mat-chip-option selectable={{false}}>{{val.type}}</mat-chip-option>
                                <mat-chip-option *ngIf="val.official" selectable={{false}}>Oficial</mat-chip-option>
                                <mat-chip-option *ngIf="!val.official" selectable={{false}}>Não Oficial
                                </mat-chip-option>

                            </mat-chip-listbox>
                        </mat-card-content>
                        <br>
                    </mat-card>
                    <br>
                </div>
            </div>
        </div>

        <br>
        <div class="flex-between">
            <div *ngIf="recommendations !== undefined" class="box-container w100 body-with-recommendations">
                <h2>Acredito que goste <span class="default-color">desses</span></h2>

                <div class="body-recommended-movies">
                    <div *ngFor="let info of recommendations;let index = index">
                        <app-poster-movie *ngIf="info.poster_path !== null && index < 21" [info]="info">
                        </app-poster-movie>
                    </div>
                </div>
            </div>
        </div>

        <br>

    </div>

</section>