<div class="container-list-movies">

    <div *ngFor="let content of homeContent">
        <br><br>

        <h1>{{content.beforeTitle}} <span class="default-color">{{content.title}}</span> {{content.afterTitle}}</h1>

        <div class="container-list-movies-filmes-content">

            <div *ngFor="let info of content.content;let index = index">
                <div routerLink="/filme/{{info.id}}" *ngIf="info.poster_path !== null && index < content.limit"
                    style="background-image: url(https://image.tmdb.org/t/p/w500{{info.poster_path}});"
                    class="container-list-movies-filmes-content-imgSingle">
                    <p class="inside-poster-information">{{info.vote_average}} <mat-icon matListItemIcon>star</mat-icon>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br><br>
</div>